<div class="w-full">
  <h2 class="text-center text-4xl font-extrabold dark:text-white">
    Add product
  </h2>
  <form
    class="mx-auto mt-4"
    [formGroup]="createForm"
    (submit)="handleAddProduct($event)"
  >
    <div class="mb-5 grid grid-cols-2 gap-2">
      <div class="">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label
        >
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Name..."
          required
          formControlName="name"
        />
        <div
          *ngIf="
            createForm['controls']['name'].dirty &&
            createForm['controls']['name'].errors
          "
        >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['name'].errors['required']"
            >*name khong duoc bo trong</small
          >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['name'].errors['minlength']"
            >*name toi thieu 3 ki tu</small
          >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['name'].errors['maxlength']"
            >*name toi da 30 ki tu</small
          >
        </div>
      </div>
      <div class="">
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Category</label
        >
        <select
          id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          formControlName="category"
        >
          <option
            class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
            disabled
            selected
            value=""
          >
            Select a category...
          </option>
          <option
            class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
            value="{{ category._id }}"
            *ngFor="let category of categoryList"
          >
            {{ category.name }}
          </option>
        </select>
        <div
          *ngIf="
            createForm['controls']['category'].dirty &&
            createForm['controls']['category'].errors
          "
        >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['category'].errors['required']"
            >*Category khong duoc bo trong</small
          >
        </div>
      </div>
      <!-- <div class="">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Brand</label
        >
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="brand..."
          required
          formControlName="brand"
        />
        <div
          *ngIf="
            createForm['controls']['brand'].dirty &&
            createForm['controls']['brand'].errors
          "
        >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['brand'].errors['required']"
            >*brand khong duoc bo trong</small
          >
        </div>
      </div> -->
    </div>
    <div class="mb-5 grid grid-cols-[50%_30%_19%] gap-2">
      <div class="">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Image</label
        >
        <input
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Image link..."
          required
          formControlName="image"
        />
        <div
          *ngIf="
            createForm['controls']['image'].dirty &&
            createForm['controls']['image'].errors
          "
        >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['image'].errors['required']"
            >*Image khong duoc bo trong</small
          >
        </div>
      </div>
      <div class="">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Price</label
        >
        <input
          type="number"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Price..."
          required
          formControlName="price"
        />
        <div
          *ngIf="
            createForm['controls']['price'].dirty &&
            createForm['controls']['price'].errors
          "
        >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['price'].errors['required']"
            >*Price khong duoc bo trong</small
          >
          <small
            class="text-red-600"
            *ngIf="createForm['controls']['price'].errors['min']"
            >*Price phai la mot so lon hon 1</small
          >
        </div>
      </div>
    </div>
    <div class="">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Description</label
      >
      <textarea
        id="message"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Description..."
        required
        formControlName="description"
      ></textarea>
      <div
        *ngIf="
          createForm['controls']['description'].dirty &&
          createForm['controls']['description'].errors
        "
      >
        <small
          class="text-red-600"
          *ngIf="createForm['controls']['description'].errors['required']"
          >*Description khong duoc bo trong</small
        >
        <small
          class="text-red-600"
          *ngIf="createForm['controls']['description'].errors['minlength']"
          >*Description toi thieu 10 ki tu</small
        >
        <small
          class="text-red-600"
          *ngIf="createForm['controls']['description'].errors['maxlength']"
          >*Description toi da 100 ki tu</small
        >
      </div>
    </div>
    <button
      type="submit"
      class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Submit
    </button>
  </form>
</div>
